.col1{
	background: #C73232;
}
.col2{
	background: #C77C32;
}
.col3{
	background: #C7C732;
}
.col4{
	background: #7CC732;
}
.col5{
	background: #32C732;
}
.col6{
	background: #32C77C;
}
.col7{
	background: #32C7C7;
}
.col8{
	background: #327CC7;
}
.col9{
	background: #3232C7;
}
.col10{
	background: #7C32C7;
}
.col11{
	background: #C732C7;
}
.col12{
	background: #C7327C;
}

.col1a{
	background: #C7A232;
}
.col2a{
	background: #32C757;
}
.col3a{
	background: #3257C7;
}
.col4a{
	background: #C732A2;
}